<footer class="footer">
    <div class="footer-inner flex wrapper">
        <div class="flex space-between grow">
            <div class="footer-left">
                <a href="/" class=logo><p>{{ 'general.title' | t }}</p></a>
            </div>
            <div class="footer-right flex space-between">
                <div class="footer-menu flex column">
                    <ul class="secondary-menu">
                    {% for link in linklists.footer.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>

        <div class="footer-menu footer-social flex column">
            <ul class="social-link flex">
                <li>
                    <a href="{{ 'footer.social.plumb_url' | t}}" target="new">
                        <img class="link-icon" src="{{ 'plumb-icon.png' | asset_url }}" alt="plum drawing">
                    </a>
                </li>
                
                <li class="mail">
                    <a href="mailto:{{ 'footer.social.email_link' | t}}">
                        <img class="link-icon" src="{{ 'mail-icon.png' | asset_url }}" alt="mail envelope">
                    </a>
                </li>
            </ul>

            {% assign copyright_date = 'now' | date:'%Y' %}
            <span>{{ 'footer.copyright' | t: date:copyright_date }}</span>
        </div>

    </div>
</footer>