<header id="header">
  <div class="header-inner flex wrapper space-between">
    <button class="menu-button" @click="toggleMenu">
      <span>Menu</span>
    </button>

    <a href="/" class=logo><h1>{{ 'general.title' | t }}</h1></a>
  
    <nav class="header-nav">
        <ul class="header-menu flex space-between">
            {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="cart-button-container" @click="toggleMiniCart">
      <button class="cart-button">
          <img class="cart-image" src="{{ 'cart.svg' | asset_url }}"  alt="your cart" itemprop="cart"> 
          <div class="cart-item-count">
            <span>
              <template v-if="cart">
                ${cart.item_count}
              </template>
            </span>
          </div>
      </button>
    </div>

  </div>

  <div class="header-mobile">
    <a href="/" class="header-title">MoveObjects Online</a>
    <div class="mobile-nav">
      <button class="mobile-nav-button" @click="toggleMenu">
        <span>Menu</span>
      </button>
      <button class="mobile-nav-button" @click="toggleMiniCart">
        <span>Cart</span>
      </button>
    </div>
  </div>

  <div class="menu-drawer" :class="{ hidden: menuDrawer }">
    <button class="menu-drawer-close" @click="toggleMenu">
      Close
    </button>
    {% render 'menu-drawer' %}
  </div>

  <div class="mini-cart" :class="{ hidden: miniCart }">
    <button class="mini-cart-close" @click="toggleMiniCart">
      Close
    </button>
    {% render 'mini-cart' %}
  </div>
  <div class="outside" v-if="!miniCart || !menuDrawer" @click="closeAllDrawers"></div>
</header>

<script>

  if (document.querySelector('#header')) {
    {% assign cart_items_count = cart.items | size %}
    const cartItemMaxQuantities = {
      {%- for item in cart.items -%}
      "{{ item.id }}": {{- item.variant.inventory_quantity -}}
      {%- unless forloop.index == cart_items_count -%},{%- endunless -%}
      {%- endfor -%}
    }

    const headerCart = Vue.createApp({
      delimiters: ['${', '}'],
      data() {
        console.log(store.state.cartState)
        return {
          cartData: store.state.cartState
        }
      },
      methods: {
        toggleMiniCart() {
          toggleMiniCart.openCart()
        },
        toggleMenu() {
          toggleMenu.openMenu()
        },
        closeAllDrawers() {
          toggleClose.closeAll()
        },
        decrement(item) {
          const data = {
            "id": item.key,
            "quantity": item.quantity - 1
          }

          axios.post('/cart/change.js', data)
            .then(res => {
              store.getCart()
            })
            .catch(err => console.log(err))
        },
        increment(item) {
          const data = {
            "id": item.key,
            "quantity": item.quantity + 1
          }

          axios.post('/cart/change.js', data)
            .then(res => {
              store.getCart()
            })
            .catch(err => console.log(err))
        },
        remove(item) {
          const data = {
            "id": item.key,
            "quantity": 0
          }
          axios.post('/cart/change.js', data)
            .then(res => {
              store.getCart()
            })
            .catch(err => console.log(err))
        },
        money(value) {
          if (!value) return 0
          return "$" + (value/100)
        }
      },
      computed: {
        miniCart() {
          return miniCartState.hidden
        },
        menuDrawer() {
          return menuState.hidden
        },
        cart() {
          return this.cartData[0]
        }
      },
      created() {
        store.getCart()
      }
    }).mount('#header')
  
  }
</script>