<div class="product-card">
  {% if product.available %}
    <a href="{{ product.url | within: collection }}" class="product-image-wrapper {% if product.available == false %} sold-out-product {% endif %}">
  {% else %}
    <div class="product-image-wrapper"> 
  {% endif %}
    <div class="swiper-container swiper-container-{{- product.id -}}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
              <img 
                data-src="{{ image.src | img_url: 'grande' }}" 
                alt="{{ image.alt | escape }}"
                class="lazyload {% if product.available == false %} sold-out-product {% endif %}"
                >
            {% if product.available %}
              <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
              <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% if product.available %}
    </a>
  {% else %}
    </div> 
  {% endif %}

  {% assign product_description = product.description | split: '|' %}
  {% if product.available %}
    <a href="{{ product.url | within: collection }}">
  {% endif %}
      <div class="product-card-title {% if product.available == false %} sold-out-product {% endif %}">
        <h3>{{product.title | upcase }}</h3>

        {% if product.available != false %}
          <p class="product-card-price">{{ product.price | money_without_trailing_zeros }}</p>
        {% else %}
          <p class="product-card-price">sold out</p>
        {% endif %}

        <div class="product-card-size">
          {{ product_description.first }}
        </div>
        <div class="flower">
          <div class="flower-head"></div>
        </div>
      </div>
  {% if product.available %}
    </a>
  {% endif %}
</div>

<script>
  new Swiper(".swiper-container-{{- product.id -}}", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 1,
    loop: true,

    breakpoints: {
      600: {
        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl: ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}"
        }
      }
    }
  })

</script>

