<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- vue -->
  <script src="https://unpkg.com/vue@3.0.5"></script>
  <!-- <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script> -->
  
  <!-- fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/iil4oyx.css">
  
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>

  {% render 'header' %}

  <main role="main" class="wrapper">
    {{ content_for_layout }}
  </main>

  {% render 'footer' %}
</body>
</html>
