<div class="container">
  <div class="image-gallery">
    <a href="/collections/all" class="gallery-image">
      <img 
        data-src="{{ 'candlestick1.JPG' | asset_img_url: '600x' }}" 
        alt="closeup of ceramic candlesticks with handblown glaze on pink backdrop"
        class="lazyload"
        >
    </a>
    <a href="/collections/all" class="gallery-image">
      <img 
        data-src="{{ 'candlestick2.JPG' | asset_img_url: '600x' }}" 
        alt="many ceramic candlesticks with handblown glaze on pink backdrop"
        class="lazyload"
        >
    </a>
    <a href="/products/plumb-membership-3d" class="gallery-image">
        <img
          data-src="{{ 'membership1.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle1.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle2.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle3.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>   
    <a href="/products/sticker-pack-2" class="gallery-image">
        <img
          data-src="{{ 'stickerpack2-2.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/sticker-pack" class="gallery-image">
        <img
          data-src="{{ 'stickerpack1-1.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>

    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle4.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>

    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle6.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle7.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/raffle-ticket" class="gallery-image">
        <img
          data-src="{{ 'raffle8.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/sticker-pack" class="gallery-image">
        <img
          data-src="{{ 'stickerpack1.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
    <a href="/products/sticker-pack-2" class="gallery-image">
        <img
          data-src="{{ 'stickerpack2.JPG' | asset_img_url: '600x' }}"
          alt=" on pink backdrop"
          class="lazyload"
          >
    </a>
  </div>
</div>