{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-template wrapper">
  <div class="product-image">
    <div class="swiper-container-product-page swiper-container-{{- product.id -}}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
            <img 
              data-src="{{ image.src | img_url: 'master' }}" 
              alt="{{ image.alt | escape }}"
              class="lazyload"
              >
            <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
            <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
    
  <div class="product-description-container">
    <h2>{{ product.title }}</h2>
    <div class="product-bottom">
        {{ product.description }}

      {% if product.variants.first.inventory_quantity == 1 %}
        <div class="only-one">
          <p>~only one~</p>
        </div>
      {% endif %}


      {% render 'add-to-cart-form' %}
    </div>
  </div>
</div>

<script>
  new Swiper(".swiper-container-{{- product.id -}}", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 1,
    loop: true,

    breakpoints: {
      600: {
        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl: ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}"
        }
      }
    }
  })

</script>


